<ion-header>

  <ion-navbar color="primary1">
    <ion-title class="logo">
    </ion-title>
    <button ion-button menuToggle color="secondary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end (click)="PageSearch()">
      <button ion-button icon-only color="secondary">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let category of categories ; let ii = index  ; let ll = count">
      <div class="ad" *ngIf="category.is_adv == true" margin-bottom>
        <a href="{{category.url}}">
          <img src="http://malexs.com/boxera/public/upload/{{category.adv_image}}" alt="">
        </a>
      </div>
      <div *ngIf="category.is_adv == false">
        <ion-item-divider color="secondary">
            <span text-capitalize>{{category.category_name}}</span>
            <ion-buttons end>
              <button ion-button text-uppercase clear color="primary1" (click)="Go_Category(category.class_id, category.category_name)">
                more
              </button>
            </ion-buttons>
        </ion-item-divider>
        <ion-item>
          <ks-swiper-container [options]="options" >
            <ks-swiper-slide *ngFor="let product of category.product ; let i = index ; let l = count">
              <div class="cardInnerWrap">
                  <img src="http://malexs.com/boxera/public/upload/{{ product.image_name }}" (click)="PageBookInfo(category?.product[i])">
                  <div class="details">
                    {{product.price}} {{currency}}<br>
                      <ion-icon name="ios-star" *ngFor="let star of map.get(product.p_id)" color="primary"></ion-icon>
                  </div>
              </div>
              
            </ks-swiper-slide>
          </ks-swiper-container>
        </ion-item>
      </div>
    </ion-item-group>
  </ion-list>

</ion-content>
